.windowStyles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    width: 100%;
    height: 100%;
    grid-area: chat-window;
    overflow-y: scroll;
    background: whitesmoke;
}