/* basic formatting for a message bubble */
.msg {
    --roundCorner: 50%;
    --pointedCorner: 15%;
    --feedbackMargin: 20px;

    display: inline-block;
    padding: 10% 5%;
    box-shadow: var(--sealGrayShadow);
    border-top-left-radius: var(--roundCorner);
    border-top-right-radius: var(--roundCorner);
}

/* formatting for messages from bot */
.msg.bot {
    color: white;
    background-color: var(--polyGreen);
    text-align: left;
    /* bevels chat bubbles with the bottom left corner more pointed */
    border-bottom-left-radius: var(--pointedCorner);
    border-bottom-right-radius: var(--roundCorner);
    margin-right: var(--feedbackMargin);
}

/* formatting for messages from user */
.msg.user {
    color: black;
    background-color: white;
    text-align: right;
    /* bevels chat bubbles with the bottom right corner more pointed */
    border-bottom-left-radius: var(--roundCorner);
    border-bottom-right-radius: var(--pointedCorner);
}

.bubbleHover {
    @media (hover: hover) and (pointer: fine) {
        &:hover {
            transform: scale(1.05);
            box-shadow: 0 10px 15px var(--sealGrayShadow);
        }
    }
}

/* a rem is 16 px */
.margin1rem {
    margin: 1 rem;
}

.margin2rem {
    margin: 2rem;
}

.beveledEdge {
    border-radius: 50%;
}