
.home {
    text-align: center;
}

.bubble {
    display: block;
      padding: 10px 20px;
      margin: 20px auto;
      background-color: green;
      color: white;
      width: max-content;
      text-align: center;
      max-width: 400px;
      border-radius: 30px;
      transition: transform 0.5s, box-shadow 0.5s;
      box-shadow: 0 10px 20px transparent;
}