.MapPage {
    width: 100%;
    height: 87.5%;
}

.mapTitle {
    display: block;
    color: var(--polyGreen);
    font-size: 25px;
    margin: 25px;
    font-weight: 500;
}

.mapText {
    display: block;
    font-size: 15px;
    font-weight: 300;
    margin: 0px 25px;
}

.map {
    display: block;
    margin: auto;
    width: 70%;
    min-height: 500px;
    height: 85%;
    border: none;
    align-self: center;
}