.whiteText {
    color: white;
}

.sourceSans {
    font-family: 'Source Sans Pro', sans-serif;
}

.scrollable {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
}

.scrollable::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}